body {
    border: 3px solid black;
    padding: 25px;
}

h1 {
    text-align: center;
    flex-grow: 1;
}
 h2 {
     padding-right: 10%;
    
 }

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

img {
    width: 50%;
    align-self: center;
    padding-bottom: 10%;
    padding-top: 5%;
}
.maincontainer {
    display: flex;
    flex-direction: column;
}
